<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/29257672_2046304998731396_159956539291992064_n.jpg?_nc_cat=101&_nc_oc=AQkntvrL0gj5I5hvneJP_hUnIZg-xmoqar7tp0fFsLz6t0mTcEHRYjKObQfMwcA74mo&_nc_ht=scontent.fsgn4-1.fna&oh=b9972d877becdb7919f15bd6b416afb0&oe=5CE7AF80">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>" >
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= @user.name %></h2>
      <a class="website"><%= @user.website %></a>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/10922631_782685421819578_498807600538694256_n.jpg?_nc_cat=109&_nc_oc=AQkz-vK6n-sRFa0oMKHiI_-DePO2ScDDO2W4ugD0IiW6mGGDajil1mS9YwwXGGfvhQA&_nc_ht=scontent.fsgn3-1.fna&oh=4c829acdc9b45509d60a1eb28cf55b9d&oe=5CE41554">
  </div>
  <div class="wrapper">
    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/10922631_782685421819578_498807600538694256_n.jpg?_nc_cat=109&_nc_oc=AQkz-vK6n-sRFa0oMKHiI_-DePO2ScDDO2W4ugD0IiW6mGGDajil1mS9YwwXGGfvhQA&_nc_ht=scontent.fsgn3-1.fna&oh=4c829acdc9b45509d60a1eb28cf55b9d&oe=5CE41554">
  </div>
  <div class="wrapper">
    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/10922631_782685421819578_498807600538694256_n.jpg?_nc_cat=109&_nc_oc=AQkz-vK6n-sRFa0oMKHiI_-DePO2ScDDO2W4ugD0IiW6mGGDajil1mS9YwwXGGfvhQA&_nc_ht=scontent.fsgn3-1.fna&oh=4c829acdc9b45509d60a1eb28cf55b9d&oe=5CE41554">
  </div>
</div>
